In [1]:
import pandas as pd
from scipy.io import arff

In [6]:
data_arff = arff.loadarff('dataset_39_ecoli.arff')
df = pd.DataFrame(data_arff[0])
df.to_csv('dataset_39_ecoli.csv', index=False)
df

      mcg   gvh   lip  chg   aac  alm1  alm2  class
0    0.49  0.29  0.48  0.5  0.56  0.24  0.35  b'cp'
1    0.07  0.40  0.48  0.5  0.54  0.35  0.44  b'cp'
2    0.56  0.40  0.48  0.5  0.49  0.37  0.46  b'cp'
3    0.59  0.49  0.48  0.5  0.52  0.45  0.36  b'cp'
4    0.23  0.32  0.48  0.5  0.55  0.25  0.35  b'cp'
..    ...   ...   ...  ...   ...   ...   ...    ...
331  0.74  0.56  0.48  0.5  0.47  0.68  0.30  b'pp'
332  0.71  0.57  0.48  0.5  0.48  0.35  0.32  b'pp'
333  0.61  0.60  0.48  0.5  0.44  0.39  0.38  b'pp'
334  0.59  0.61  0.48  0.5  0.42  0.42  0.37  b'pp'
335  0.74  0.74  0.48  0.5  0.31  0.53  0.52  b'pp'

[336 rows x 8 columns]

In [7]:
df2 = pd.read_csv('dataset_39_ecoli.csv')

In [8]:
df2

      mcg   gvh   lip  chg   aac  alm1  alm2  class
0    0.49  0.29  0.48  0.5  0.56  0.24  0.35  b'cp'
1    0.07  0.40  0.48  0.5  0.54  0.35  0.44  b'cp'
2    0.56  0.40  0.48  0.5  0.49  0.37  0.46  b'cp'
3    0.59  0.49  0.48  0.5  0.52  0.45  0.36  b'cp'
4    0.23  0.32  0.48  0.5  0.55  0.25  0.35  b'cp'
..    ...   ...   ...  ...   ...   ...   ...    ...
331  0.74  0.56  0.48  0.5  0.47  0.68  0.30  b'pp'
332  0.71  0.57  0.48  0.5  0.48  0.35  0.32  b'pp'
333  0.61  0.60  0.48  0.5  0.44  0.39  0.38  b'pp'
334  0.59  0.61  0.48  0.5  0.42  0.42  0.37  b'pp'
335  0.74  0.74  0.48  0.5  0.31  0.53  0.52  b'pp'

[336 rows x 8 columns]